<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 根标签 -->
<configuration>
<!--    <properties resource="jdbc.properties">-->

<!--    </properties>-->
<!--    <environments default="a">-->

<!--        <environment id="a">-->
<!--            <transactionManager type="JDBC"/>-->
<!--            <dataSource type="POOLED">-->
<!--                <property name="driver" value="${jdbc.driver}" />-->
<!--                <property name="url" value="${jdbc.url}" />-->
<!--                <property name="username" value="${jdbc.username}" />-->
<!--                <property name="password" value="${jdbc.password}" />-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--    </environments>-->
<!--    <mappers>-->
<!--        <mapper resource="Mapper/AdminDao.xml"/>-->
<!--        <mapper resource="Mapper/DepartmentDao.xml"/>-->
<!--        <mapper resource="Mapper/FileDao.xml"/>-->
<!--        <mapper resource="Mapper/NoticeDao.xml"/>-->
<!--        <mapper resource="Mapper/PositionDao.xml"/>-->
<!--        <mapper resource="Mapper/StaffDao.xml"/>-->
<!--    </mappers>-->
</configuration>